/*GLOBAL*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary: #ffcc00;
}
body {
  font-family: "Lato", sans-serif;
  background-color: black;
  color: white;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/*UTILITIES*/
.read-btn {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: bold;
}
/*NAV*/
nav.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  height: 49px;
  padding: 0 17px;
}
.logo-border {
  height: 32px;
  width: auto;
}
.logo {
  display: none;
}
.logo-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 48px;
}
.link-login {
  width: 100%;
  padding: 0 8px;
  margin-right: 16px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: bold;
  color: black;
}
.link-search {
  display: none;
}
.link-news {
  display: none;
}
.link-subs {
  width: 100%;
  padding: 15px;
  margin-right: 16px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: bold;
  background-color: black;
  color: white;
}
.link-subs:hover {
  background-color: #fc0;
  transition: all 0.5s ease-in;
  color: black;
}
.link-menu {
  display: none;
}
.link-angle {
  color: black;
}
/*HEADER*/
header {
  padding: 50px 0 60px;
  text-align: center;
}
header h1 {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 3.5px;
  line-height: 1.19;
  text-transform: uppercase;
}
header p {
  margin: 16px 0 24px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
}
header a {
  border-bottom: 2px solid #fc0;
  color: white;
  text-decoration: none;
}
header a:hover {
  background-image: linear-gradient(120deg, #fc0, #fc0);
  transition: all 0.3s ease-in;
  color: black;
}
header div {
  background-color: #fc0;
  height: 4px;
  line-height: 0;
  margin: 21px auto 0;
  width: 30px;
}
/*MAIN-NEWS*/
.news-container {
}
.main-news {
  position: relative;
  height: 450px;
}
.main-news img {
  height: 450px;
  width: 100%;
  margin: 10px 10px;
}
.main-news-text {
  position: absolute;
  top: 250px;
  left: 30px;
}
.main-news-text h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
}
.main-news-text p {
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}
/*SECONDARY NEWS*/
.secondary-news {
  height: 450px;
  margin-bottom: 100px;
  padding-bottom: 30px;
}
.secondary-news-img {
  height: 380px;
}
.secondary-news-img img {
  height: 100%;
  width: 100%;
}
.secondary-news-text {
  height: 120px;
  padding: 30px;
  background-color: white;
  color: black;
  letter-spacing: 2px;
}
.secondary-news-text h3 {
  font-size: 14px;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: gray;
}
.secondary-news-text p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.5;
}
.secondary-news-text a {
  color: black;
}
